.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}
.question1-root-class-name {
  background-color: #D9D9D9;
}
.question1-root-class-name1 {
  background-color: #D9D9D9;
}
.question1-root-class-name2 {
  background-color: #D9D9D9;
}
.question1-root-class-name3 {
  background-color: #D9D9D9;
}
.question1-root-class-name4 {
  background-color: #D9D9D9;
}
.question1-root-class-name5 {
  background-color: #D9D9D9;
}
.question1-root-class-name6 {
  background-color: #D9D9D9;
}
.question1-root-class-name7 {
  background-color: #D9D9D9;
}
.question1-root-class-name8 {
  background-color: #D9D9D9;
}
.question1-root-class-name9 {
  background-color: #D9D9D9;
}

.coin-eater-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.coin-eater-navbar-interactive {
  align-items: flex-start;
  justify-content: center;
}
.coin-eater-burger-menu {
  display: none;
}
.coin-eater-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.coin-eater-banner {
  padding-top: var(--dl-space-space-unit);
  padding-bottom: 35px;
  background-color: var(--dl-color-custom-accent1);
}
.coin-eater-navbar-interactive1 {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.coin-eater-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.coin-eater-links {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-custom-secondary1);
}
.coin-eater-text {
  padding-left: 0px;
  padding-right: var(--dl-space-space-twounits);
}
.coin-eater-navlink {
  text-decoration: none;
}
.coin-eater-text01 {
  padding-left: var(--dl-space-space-twounits);
}
.coin-eater-navlink01 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.coin-eater-text02 {
  padding-left: var(--dl-space-space-twounits);
}
.coin-eater-burger-menu1 {
  display: none;
}
.coin-eater-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.coin-eater-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.coin-eater-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.coin-eater-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.coin-eater-logo1 {
  height: 2rem;
}
.coin-eater-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.coin-eater-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.coin-eater-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.coin-eater-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.coin-eater-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.coin-eater-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.coin-eater-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.coin-eater-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.coin-eater-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.coin-eater-login {
  margin-right: var(--dl-space-space-twounits);
}
.coin-eater-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.coin-eater-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.coin-eater-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.coin-eater-container01 {
  flex: 0 0 auto;
  width: 1031px;
  height: 145px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.coin-eater-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-navlink02 {
  display: contents;
}
.coin-eater-image {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  text-decoration: none;
}
.coin-eater-navlink03 {
  display: contents;
}
.coin-eater-text08 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.coin-eater-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-navlink04 {
  display: contents;
}
.coin-eater-image1 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.coin-eater-navlink05 {
  display: contents;
}
.coin-eater-text09 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.coin-eater-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-navlink06 {
  display: contents;
}
.coin-eater-image2 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.coin-eater-navlink07 {
  display: contents;
}
.coin-eater-text10 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.coin-eater-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-navlink08 {
  display: contents;
}
.coin-eater-image3 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.coin-eater-navlink09 {
  display: contents;
}
.coin-eater-text14 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.coin-eater-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coin-eater-navlink10 {
  display: contents;
}
.coin-eater-image4 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.coin-eater-navlink11 {
  display: contents;
}
.coin-eater-text19 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.coin-eater-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coin-eater-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 29px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.coin-eater-container12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.coin-eater-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.coin-eater-banner-heading {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: auto;
  text-align: center;
  padding-left: 140px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 140px;
  background-color: #D9D9D9;
}
.coin-eater-container13 {
  width: 870px;
  height: 591px;
}
.coin-eater-container14 {
  display: contents;
}
.coin-eater-text36 {
  color: var(--dl-color-gray-black);
  width: 700px;
  height: var(--dl-size-size-large);
  padding: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-custom-secondary1);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.coin-eater-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coin-eater-faq-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.coin-eater-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: var(--dl-color-custom-accent1);
}
.coin-eater-container15 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.coin-eater-text40 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.coin-eater-text41 {
  text-align: left;
}
.coin-eater-container16 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.coin-eater-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coin-eater-container17 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.coin-eater-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.coin-eater-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .coin-eater-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .coin-eater-text41 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .coin-eater-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .coin-eater-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .coin-eater-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .coin-eater-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .coin-eater-desktop-menu {
    display: none;
  }
  .coin-eater-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .coin-eater-text03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .coin-eater-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .coin-eater-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .coin-eater-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .coin-eater-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .coin-eater-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .coin-eater-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .coin-eater-faq1 {
    flex-direction: column;
  }
  .coin-eater-container15 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .coin-eater-text41 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .coin-eater-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .coin-eater-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .coin-eater-container18 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .coin-eater-text44 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .coin-eater-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .coin-eater-mobile-menu1 {
    padding: 16px;
  }
  .coin-eater-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .coin-eater-navbar-interactive1 {
    padding: var(--dl-space-space-unit);
  }
  .coin-eater-mobile-menu {
    padding: 16px;
  }
  .coin-eater-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .coin-eater-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .coin-eater-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .coin-eater-container18 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .coin-eater-text44 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
