.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}
.question1-root-class-name {
  background-color: #D9D9D9;
}
.question1-root-class-name1 {
  background-color: #D9D9D9;
}
.question1-root-class-name2 {
  background-color: #D9D9D9;
}
.question1-root-class-name3 {
  background-color: #D9D9D9;
}
.question1-root-class-name4 {
  background-color: #D9D9D9;
}
.question1-root-class-name5 {
  background-color: #D9D9D9;
}
.question1-root-class-name6 {
  background-color: #D9D9D9;
}
.question1-root-class-name7 {
  background-color: #D9D9D9;
}
.question1-root-class-name8 {
  background-color: #D9D9D9;
}
.question1-root-class-name9 {
  background-color: #D9D9D9;
}

.essence-and-resurgence-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-navbar-interactive {
  align-items: center;
  justify-content: center;
}
.essence-and-resurgence-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.essence-and-resurgence-burger-menu {
  display: none;
}
.essence-and-resurgence-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.essence-and-resurgence-banner {
  padding-top: var(--dl-space-space-unit);
  padding-bottom: 35px;
  background-color: var(--dl-color-custom-accent1);
}
.essence-and-resurgence-navbar-interactive1 {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.essence-and-resurgence-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.essence-and-resurgence-links {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-custom-secondary1);
}
.essence-and-resurgence-text {
  padding-left: 0px;
  padding-right: var(--dl-space-space-twounits);
}
.essence-and-resurgence-navlink {
  text-decoration: none;
}
.essence-and-resurgence-text01 {
  padding-left: var(--dl-space-space-twounits);
}
.essence-and-resurgence-navlink01 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.essence-and-resurgence-text02 {
  padding-left: var(--dl-space-space-twounits);
}
.essence-and-resurgence-burger-menu1 {
  display: none;
}
.essence-and-resurgence-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.essence-and-resurgence-container02 {
  flex: 0 0 auto;
  width: 1031px;
  height: 145px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.essence-and-resurgence-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-navlink02 {
  display: contents;
}
.essence-and-resurgence-image {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  text-decoration: none;
}
.essence-and-resurgence-navlink03 {
  display: contents;
}
.essence-and-resurgence-text03 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.essence-and-resurgence-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-navlink04 {
  display: contents;
}
.essence-and-resurgence-image1 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.essence-and-resurgence-navlink05 {
  display: contents;
}
.essence-and-resurgence-text04 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.essence-and-resurgence-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-navlink06 {
  display: contents;
}
.essence-and-resurgence-image2 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.essence-and-resurgence-navlink07 {
  display: contents;
}
.essence-and-resurgence-text05 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.essence-and-resurgence-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-navlink08 {
  display: contents;
}
.essence-and-resurgence-image3 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.essence-and-resurgence-navlink09 {
  display: contents;
}
.essence-and-resurgence-text10 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.essence-and-resurgence-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.essence-and-resurgence-navlink10 {
  display: contents;
}
.essence-and-resurgence-image4 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.essence-and-resurgence-navlink11 {
  display: contents;
}
.essence-and-resurgence-text15 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.essence-and-resurgence-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.essence-and-resurgence-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 29px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.essence-and-resurgence-container13 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.essence-and-resurgence-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.essence-and-resurgence-banner-heading {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: auto;
  text-align: center;
  padding-left: 140px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 140px;
  background-color: #D9D9D9;
}
.essence-and-resurgence-container14 {
  width: 870px;
  height: 591px;
}
.essence-and-resurgence-container15 {
  display: contents;
}
.essence-and-resurgence-text32 {
  color: var(--dl-color-gray-black);
  width: 700px;
  height: var(--dl-size-size-large);
  padding: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #D9D9D9;
}
.essence-and-resurgence-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.essence-and-resurgence-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: var(--dl-color-custom-accent1);
}
.essence-and-resurgence-container16 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.essence-and-resurgence-text36 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.essence-and-resurgence-text37 {
  text-align: left;
}
.essence-and-resurgence-container17 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.essence-and-resurgence-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.essence-and-resurgence-container18 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.essence-and-resurgence-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.essence-and-resurgence-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .essence-and-resurgence-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .essence-and-resurgence-text37 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .essence-and-resurgence-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .essence-and-resurgence-desktop-menu {
    display: none;
  }
  .essence-and-resurgence-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .essence-and-resurgence-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .essence-and-resurgence-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .essence-and-resurgence-desktop-menu1 {
    display: none;
  }
  .essence-and-resurgence-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .essence-and-resurgence-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .essence-and-resurgence-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .essence-and-resurgence-faq1 {
    flex-direction: column;
  }
  .essence-and-resurgence-container16 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .essence-and-resurgence-text37 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .essence-and-resurgence-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .essence-and-resurgence-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .essence-and-resurgence-container19 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .essence-and-resurgence-text40 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .essence-and-resurgence-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .essence-and-resurgence-mobile-menu1 {
    padding: 16px;
  }
  .essence-and-resurgence-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .essence-and-resurgence-navbar-interactive1 {
    padding: var(--dl-space-space-unit);
  }
  .essence-and-resurgence-mobile-menu {
    padding: 16px;
  }
  .essence-and-resurgence-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .essence-and-resurgence-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .essence-and-resurgence-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .essence-and-resurgence-container19 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .essence-and-resurgence-text40 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
