.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}
.question1-root-class-name {
  background-color: #D9D9D9;
}
.question1-root-class-name1 {
  background-color: #D9D9D9;
}
.question1-root-class-name2 {
  background-color: #D9D9D9;
}
.question1-root-class-name3 {
  background-color: #D9D9D9;
}
.question1-root-class-name4 {
  background-color: #D9D9D9;
}
.question1-root-class-name5 {
  background-color: #D9D9D9;
}
.question1-root-class-name6 {
  background-color: #D9D9D9;
}
.question1-root-class-name7 {
  background-color: #D9D9D9;
}
.question1-root-class-name8 {
  background-color: #D9D9D9;
}
.question1-root-class-name9 {
  background-color: #D9D9D9;
}

.evil-meatball-invaders-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.evil-meatball-invaders-navbar-interactive {
  align-items: center;
  justify-content: center;
}
.evil-meatball-invaders-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.evil-meatball-invaders-logo {
  align-self: stretch;
  text-align: center;
  text-decoration: none;
}
.evil-meatball-invaders-burger-menu {
  display: none;
}
.evil-meatball-invaders-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.evil-meatball-invaders-hero {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.evil-meatball-invaders-banner {
  padding-top: 0px;
  padding-bottom: 35px;
  background-color: var(--dl-color-custom-accent1);
}
.evil-meatball-invaders-navbar-interactive1 {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.evil-meatball-invaders-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.evil-meatball-invaders-links {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-custom-secondary1);
}
.evil-meatball-invaders-text {
  padding-left: 0px;
  padding-right: var(--dl-space-space-twounits);
}
.evil-meatball-invaders-navlink {
  text-decoration: none;
}
.evil-meatball-invaders-text01 {
  padding-left: var(--dl-space-space-twounits);
}
.evil-meatball-invaders-navlink01 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.evil-meatball-invaders-text02 {
  padding-left: var(--dl-space-space-twounits);
}
.evil-meatball-invaders-burger-menu1 {
  display: none;
}
.evil-meatball-invaders-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.evil-meatball-invaders-container02 {
  flex: 0 0 auto;
  width: 1031px;
  height: 145px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.evil-meatball-invaders-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-navlink02 {
  display: contents;
}
.evil-meatball-invaders-image {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  text-decoration: none;
}
.evil-meatball-invaders-navlink03 {
  display: contents;
}
.evil-meatball-invaders-text03 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.evil-meatball-invaders-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-navlink04 {
  display: contents;
}
.evil-meatball-invaders-image1 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.evil-meatball-invaders-navlink05 {
  display: contents;
}
.evil-meatball-invaders-text04 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.evil-meatball-invaders-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-navlink06 {
  display: contents;
}
.evil-meatball-invaders-image2 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.evil-meatball-invaders-navlink07 {
  display: contents;
}
.evil-meatball-invaders-text05 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.evil-meatball-invaders-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-navlink08 {
  display: contents;
}
.evil-meatball-invaders-image3 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.evil-meatball-invaders-navlink09 {
  display: contents;
}
.evil-meatball-invaders-text09 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.evil-meatball-invaders-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evil-meatball-invaders-navlink10 {
  display: contents;
}
.evil-meatball-invaders-image4 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.evil-meatball-invaders-navlink11 {
  display: contents;
}
.evil-meatball-invaders-text13 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.evil-meatball-invaders-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evil-meatball-invaders-features-container {
  height: 1377px;
}
.evil-meatball-invaders-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 1333px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 29px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: 35px;
  justify-content: flex-start;
}
.evil-meatball-invaders-container13 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.evil-meatball-invaders-banner-heading {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: auto;
  text-align: center;
  padding-left: 140px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: -30px;
  padding-right: 140px;
  background-color: #D9D9D9;
}
.evil-meatball-invaders-iframe {
  width: 1008px;
  height: 1012px;
}
.evil-meatball-invaders-text16 {
  color: var(--dl-color-gray-black);
  width: 700px;
  height: var(--dl-size-size-large);
  padding: var(--dl-space-space-oneandhalfunits);
  font-size: 18px;
  margin-top: -30px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: rgb(217, 217, 217);
}
.evil-meatball-invaders-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evil-meatball-invaders-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.evil-meatball-invaders-container14 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.evil-meatball-invaders-text20 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.evil-meatball-invaders-text21 {
  text-align: left;
}
.evil-meatball-invaders-container15 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.evil-meatball-invaders-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evil-meatball-invaders-container16 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.evil-meatball-invaders-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.evil-meatball-invaders-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .evil-meatball-invaders-text21 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .evil-meatball-invaders-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .evil-meatball-invaders-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .evil-meatball-invaders-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .evil-meatball-invaders-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .evil-meatball-invaders-desktop-menu {
    display: none;
  }
  .evil-meatball-invaders-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .evil-meatball-invaders-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .evil-meatball-invaders-faq1 {
    flex-direction: column;
  }
  .evil-meatball-invaders-container14 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .evil-meatball-invaders-text21 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .evil-meatball-invaders-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .evil-meatball-invaders-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .evil-meatball-invaders-container17 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .evil-meatball-invaders-text24 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .evil-meatball-invaders-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .evil-meatball-invaders-mobile-menu1 {
    padding: 16px;
  }
  .evil-meatball-invaders-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .evil-meatball-invaders-navbar-interactive1 {
    padding: var(--dl-space-space-unit);
  }
  .evil-meatball-invaders-mobile-menu {
    padding: 16px;
  }
  .evil-meatball-invaders-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .evil-meatball-invaders-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .evil-meatball-invaders-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .evil-meatball-invaders-container17 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .evil-meatball-invaders-text24 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
