.meet-the-team-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-navbar-interactive {
  align-items: center;
  justify-content: center;
}
.meet-the-team-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.meet-the-team-logo {
  align-self: stretch;
  text-align: center;
}
.meet-the-team-burger-menu {
  display: none;
}
.meet-the-team-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.meet-the-team-banner {
  padding-top: 0px;
  padding-bottom: 35px;
  background-color: var(--dl-color-custom-accent1);
}
.meet-the-team-navbar-interactive1 {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.meet-the-team-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.meet-the-team-links {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-custom-secondary1);
}
.meet-the-team-text {
  padding-left: 0px;
  padding-right: var(--dl-space-space-twounits);
}
.meet-the-team-navlink {
  text-decoration: none;
}
.meet-the-team-text01 {
  padding-left: var(--dl-space-space-twounits);
}
.meet-the-team-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.meet-the-team-text02 {
  padding-left: var(--dl-space-space-twounits);
}
.meet-the-team-burger-menu1 {
  display: none;
}
.meet-the-team-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.meet-the-team-container02 {
  flex: 0 0 auto;
  width: 1031px;
  height: 145px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.meet-the-team-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-navlink2 {
  display: contents;
}
.meet-the-team-image {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  text-decoration: none;
}
.meet-the-team-navlink3 {
  display: contents;
}
.meet-the-team-text03 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.meet-the-team-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-navlink4 {
  display: contents;
}
.meet-the-team-image01 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.meet-the-team-navlink5 {
  display: contents;
}
.meet-the-team-text04 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.meet-the-team-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-image02 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.meet-the-team-navlink6 {
  display: contents;
}
.meet-the-team-text05 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.meet-the-team-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-image03 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.meet-the-team-navlink7 {
  display: contents;
}
.meet-the-team-text09 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.meet-the-team-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meet-the-team-image04 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.meet-the-team-navlink8 {
  display: contents;
}
.meet-the-team-text13 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.meet-the-team-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meet-the-team-features-container {
  align-items: center;
  justify-content: center;
}
.meet-the-team-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 1572px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 30px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.meet-the-team-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.meet-the-team-banner-heading {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: auto;
  text-align: center;
  padding-left: 140px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 140px;
  background-color: #D9D9D9;
}
.meet-the-team-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: -20px;
  align-items: flex-start;
  margin-left: 0px;
  padding-top: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: -20px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.meet-the-team-container14 {
  width: auto;
  height: 647px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.meet-the-team-container15 {
  width: 285px;
  height: auto;
  margin: var(--dl-space-space-threeunits);
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.meet-the-team-text16 {
  font-size: 22px;
  align-self: center;
  text-align: center;
  font-family: "Cabin";
  font-weight: 600;
  line-height: 150%;
}
.meet-the-team-image05 {
  width: 262px;
  height: var(--dl-size-size-xxlarge);
  align-self: center;
  object-fit: cover;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.meet-the-team-text17 {
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.meet-the-team-text24 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: 220px;
  font-size: 13px;
  align-self: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-custom-secondary1);
}
.meet-the-team-container16 {
  width: 285px;
  height: auto;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.meet-the-team-text28 {
  font-size: 22px;
  align-self: center;
  text-align: center;
  font-family: "Cabin";
  font-weight: 600;
  line-height: 150%;
}
.meet-the-team-image06 {
  width: 262px;
  height: var(--dl-size-size-xxlarge);
  align-self: center;
  object-fit: cover;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.meet-the-team-text29 {
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.meet-the-team-text36 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: 220px;
  font-size: 13px;
  align-self: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-custom-secondary1);
}
.meet-the-team-container17 {
  width: 285px;
  height: auto;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.meet-the-team-text43 {
  font-size: 22px;
  align-self: center;
  text-align: center;
  font-family: "Cabin";
  font-weight: 600;
  line-height: 150%;
}
.meet-the-team-image07 {
  width: 262px;
  height: var(--dl-size-size-xxlarge);
  align-self: center;
  object-fit: cover;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.meet-the-team-text44 {
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.meet-the-team-text51 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: 220px;
  font-size: 13px;
  align-self: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-custom-secondary1);
}
.meet-the-team-separator1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.meet-the-team-container18 {
  width: auto;
  height: auto;
  display: flex;
  margin-top: -10px;
  justify-content: center;
}
.meet-the-team-container19 {
  width: 285px;
  height: auto;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.meet-the-team-text60 {
  font-size: 22px;
  align-self: center;
  text-align: center;
  font-family: "Cabin";
  font-weight: 600;
  line-height: 150%;
}
.meet-the-team-image08 {
  width: 262px;
  height: var(--dl-size-size-xxlarge);
  align-self: center;
  object-fit: cover;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.meet-the-team-text61 {
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.meet-the-team-text68 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: 220px;
  font-size: 13px;
  align-self: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-custom-secondary1);
}
.meet-the-team-container20 {
  width: 285px;
  height: auto;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.meet-the-team-text73 {
  font-size: 22px;
  align-self: center;
  text-align: center;
  font-family: "Cabin";
  font-weight: 600;
  line-height: 150%;
}
.meet-the-team-image09 {
  width: 262px;
  height: var(--dl-size-size-xxlarge);
  align-self: center;
  object-fit: cover;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.meet-the-team-text74 {
  align-self: center;
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
}
.meet-the-team-text81 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: 220px;
  font-size: 13px;
  align-self: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-custom-secondary1);
}
.meet-the-team-separator2 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  margin: -20px;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.meet-the-team-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meet-the-team-container21 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.meet-the-team-separator3 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.meet-the-team-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 767px) {
  .meet-the-team-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .meet-the-team-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .meet-the-team-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .meet-the-team-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .meet-the-team-desktop-menu {
    display: none;
  }
  .meet-the-team-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .meet-the-team-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .meet-the-team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .meet-the-team-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .meet-the-team-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .meet-the-team-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .meet-the-team-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .meet-the-team-container22 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .meet-the-team-text88 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .meet-the-team-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .meet-the-team-mobile-menu1 {
    padding: 16px;
  }
  .meet-the-team-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .meet-the-team-navbar-interactive1 {
    padding: var(--dl-space-space-unit);
  }
  .meet-the-team-mobile-menu {
    padding: 16px;
  }
  .meet-the-team-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .meet-the-team-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .meet-the-team-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .meet-the-team-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .meet-the-team-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .meet-the-team-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .meet-the-team-container22 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .meet-the-team-text88 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
