.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}
.question1-root-class-name {
  background-color: #D9D9D9;
}
.question1-root-class-name1 {
  background-color: #D9D9D9;
}
.question1-root-class-name2 {
  background-color: #D9D9D9;
}
.question1-root-class-name3 {
  background-color: #D9D9D9;
}
.question1-root-class-name4 {
  background-color: #D9D9D9;
}
.question1-root-class-name5 {
  background-color: #D9D9D9;
}
.question1-root-class-name6 {
  background-color: #D9D9D9;
}
.question1-root-class-name7 {
  background-color: #D9D9D9;
}
.question1-root-class-name8 {
  background-color: #D9D9D9;
}
.question1-root-class-name9 {
  background-color: #D9D9D9;
}

.pachinko-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pachinko-navbar-interactive {
  align-items: flex-start;
  justify-content: center;
}
.pachinko-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.pachinko-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.pachinko-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.pachinko-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pachinko-burger-menu {
  display: none;
}
.pachinko-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.pachinko-logo {
  align-self: stretch;
  text-align: center;
}
.pachinko-banner {
  padding-top: var(--dl-space-space-unit);
  padding-bottom: 35px;
  background-color: var(--dl-color-custom-accent1);
}
.pachinko-navbar-interactive1 {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.pachinko-desktop-menu1 {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.pachinko-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-custom-secondary1);
}
.pachinko-text {
  padding-left: 0px;
  padding-right: var(--dl-space-space-twounits);
}
.pachinko-navlink {
  text-decoration: none;
}
.pachinko-text01 {
  padding-left: var(--dl-space-space-twounits);
}
.pachinko-navlink01 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.pachinko-text02 {
  padding-left: var(--dl-space-space-twounits);
}
.pachinko-burger-menu1 {
  display: none;
}
.pachinko-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.pachinko-container03 {
  flex: 0 0 auto;
  width: 1031px;
  height: 145px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pachinko-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-navlink02 {
  display: contents;
}
.pachinko-image {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0px;
  text-decoration: none;
}
.pachinko-navlink03 {
  display: contents;
}
.pachinko-text03 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.pachinko-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-navlink04 {
  display: contents;
}
.pachinko-image1 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.pachinko-navlink05 {
  display: contents;
}
.pachinko-text04 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.pachinko-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-navlink06 {
  display: contents;
}
.pachinko-image2 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.pachinko-navlink07 {
  display: contents;
}
.pachinko-text05 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.pachinko-text06 {
  color: var(--dl-color-gray-black);
}
.pachinko-text07 {
  color: var(--dl-color-gray-black);
}
.pachinko-text08 {
  color: var(--dl-color-gray-black);
}
.pachinko-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-navlink08 {
  display: contents;
}
.pachinko-image3 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.pachinko-navlink09 {
  display: contents;
}
.pachinko-text10 {
  text-align: center;
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.pachinko-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-container13 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pachinko-navlink10 {
  display: contents;
}
.pachinko-image4 {
  width: 161px;
  height: 121px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
}
.pachinko-navlink11 {
  display: contents;
}
.pachinko-text15 {
  padding-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.pachinko-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pachinko-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: 29px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.pachinko-container14 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pachinko-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.pachinko-banner-heading {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  height: auto;
  text-align: center;
  padding-top: 0px;
  padding-left: 140px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 140px;
  padding-bottom: 0px;
  background-color: #D9D9D9;
}
.pachinko-container15 {
  width: 870px;
  height: 591px;
}
.pachinko-container16 {
  display: contents;
}
.pachinko-text32 {
  color: var(--dl-color-gray-black);
  width: 700px;
  height: var(--dl-size-size-large);
  padding: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-custom-secondary1);
}
.pachinko-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pachinko-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  background-color: var(--dl-color-custom-accent1);
}
.pachinko-container17 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pachinko-text36 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pachinko-text37 {
  text-align: left;
}
.pachinko-container18 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pachinko-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pachinko-container19 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.pachinko-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.pachinko-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pachinko-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .pachinko-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .pachinko-text37 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .pachinko-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pachinko-desktop-menu {
    display: none;
  }
  .pachinko-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pachinko-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pachinko-navbar-interactive1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pachinko-desktop-menu1 {
    display: none;
  }
  .pachinko-burger-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pachinko-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pachinko-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .pachinko-faq1 {
    flex-direction: column;
  }
  .pachinko-container17 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .pachinko-text37 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .pachinko-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pachinko-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .pachinko-container20 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .pachinko-text40 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .pachinko-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .pachinko-mobile-menu1 {
    padding: 16px;
  }
  .pachinko-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .pachinko-navbar-interactive1 {
    padding: var(--dl-space-space-unit);
  }
  .pachinko-mobile-menu {
    padding: 16px;
  }
  .pachinko-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .pachinko-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .pachinko-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .pachinko-container20 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .pachinko-text40 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
